body {
    background-color: #D2DBDD;
}

/* CONTACT CARD STYLES */

.ContactsContainer, .ContactInfo {
    padding: 16px
}

.ContactCard {
    float: left;
    margin: 20px 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    
}

h3.ContactName {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: -50px;
    height: 40px;
    text-shadow: white 0px 0px 10px;
}

.ContactCardImg {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.ContactCardImg img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.ContactInfo  {
    margin: 20px auto;
    width: 350px;
    border-radius: 80px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25)
}

/* BUTTON STYLES */

/* button.EditButton {
    background-color: rgb(30, 65, 122);
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    transition: 0.4s;
    color: white;
} */

button.DeleteButton {
    float: right;
    background-color: #f44336;
    border-radius: 300px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
    color: white;
}

button:hover {
    transform: scale(0.9, 0.9);
}